*{
  font-family: 'Rubik', sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.logo{
  image-resolution:from-image;
  width: 600px; height: 150px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: left;
}

.user{
  background: #a699b0;
  font-style: italic;
  font-size: 20px;
  padding: 20px;
  display: inline-block;
  width:30%;
}

h1 {
  background: #ff927c;
  font-size: 30px;
  display: bottom;
}


/* div donde agregue todo el body */
.agrupar {
  width: 960px;
  border: 1px solid white;
  text-align: left;
  padding: 40px;
  clear: both;
}

.search {
  padding: 20px;

}

/* nav */
.menu{
  background: #ffd965;
  font-style: italic;
  font-size: 20px;
  padding: 20px;
  text-align: left;
  margin-bottom: 0px;
}

.menu li{
  font-style: italic;
  border: solid 1px grey;
}

ul li {
display: inline;
padding: 0px 20px 10px 10px;
border-right: 1 solid black;
}

.seccion{
  margin: 20px 0;
  width: 75%;
  padding: 0px;
  background-color: #81d8d0;
  float:left;
}

.columna{
  margin: 20px 0;
  width: 20%;
  border: 1px solid #ffd965;
  float:right;
  font-size: 15px;
  padding: 20px;
}

.columna li{
  display: flex;
  padding: 30px;
  border: 1px solid #ffd965;
  margin-bottom: 10px;
  margin-top: 10px;
}

article{
  text-align: left;
  font-size: 25px;
  padding: 20px;
  margin-bottom: 15px;

}
.catalogo{
  width: auto;
  float: left;
  background: #a699b0;
  text-decoration-color: white;
  text-align: center;
  padding: 20px;
}

.catalogo div {
  width: 23%;
  display: inline-block;
}

.pie {
  background: #c6d2c4;
  clear: both;
}
