body{
  background: white;
}
*{
  font-family: 'Rubik', sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.logo{
  image-resolution:from-image;
  width: 600px;
  height: 150px;
  padding: 10px;
  display: left;
}

.user{
  width:30%;
  padding: 20px;
  background: #a699b0;
  display: inline-flex;
  font-style: italic;
  font-size: 20px;
}

h1 {
  padding: 0px;
  background: #ff927c;
  font-size: 30px;
  display: bottom;
}
/*
.menu {
  padding: 2px 0px 0px 0px;
  background: ;
} */

.menu  li a{
  background-color: #CCAD50;
  color: #fff;
  text-decoration: none;
  margin: 2px 10px;
  padding: 10px 15px;
  font-size: 18px;
  font-style: normal;
  display:block;
}

.menu li a:hover {
  background-color: #FFD965;
}

.menu > li {
  float: left;
}

.menu li ul{
  display:none;
  position: absolute;
  min-width: 140px;
}

.menu li:hover>ul {
  display:block;
}

.seccion{
  width: 75%;
  margin: 0px 0;
  padding: 0px;
  background-color: #81d8d0;
  float:left;
}

.columna{
  width: 20%;
  margin: 0px 0;
  padding: 20px;
  border: px solid grey;
  float: right;
  font-size: 15px;
}

article{
  text-align: left;
  font-size: 25px;
  padding: 20px;
  margin-bottom: 15px;

}
.catalogo{
  width: auto;
  float: left;
  background: #a699b0;
  text-decoration-color: white;
  text-align: center;
  padding: 20px;
}

.catalogo div {
  width: 23%;
  display: inline-block;
}

.pie {

  background: #c6d2c4;
  clear: both;
}

.pie li{
  margin: 2px 40px;
  padding: 2px 0;
  border: solid 1px white;
  font-size: 20px;
  font-style: normal;
  display: inline-block;
}
